p {
    margin: 0;
}
label {
    pointer-events: auto !important;
    transition: none !important;
    -moz-transition: none !important;
    -webkit-transition: none !important;
}
#b-level-course-container {
    position: relative;
    margin-bottom: 2px;
}
@media (min-width: 1366px) {
    .b-level-container.container, #flip-scroll {
        width: 90%;
    }
}
.b-level-container.container {
    padding-top: 10px;
}
.b-level-course-discription__text {
    font-size: 15px;
    font-weight: 300;
    padding-right: 10px;
    color: black;
}
.b-level-course-discription__title h3 {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
    color: black;
    text-transform: uppercase;
}
.b-level-course-discription__date {
    font-size: 15px;
    font-weight: 300;
    padding: 20px 0 20px;
    padding-right: 15px;
    text-align: right;
    color: #2a3c5b;
}
.b-level-course-discription__date:after {
    position: absolute;
    right: 195px;
    content: url(../images/roadmap/start-cours-flag.png);
}
.b-level-course-list-block {
    float: right;
    margin-top: 15px;
    padding: 0;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.b-level-course-list-table_header {
    position: relative;
    top: -6px;
    border-radius: 19px;
    background-color: #e4e4e4;
}
.b-level-course-list-table_header--btn-left, .b-level-course-list-table_header--btn-right {
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 50%;
    padding: 13px 10px;
    color: #000;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: rgba(228, 228, 228, 0);
    display: inline-block;
}
.b-level-course-list-table_header--btn-right {
    float: right;
}
.b-level-course-list-table_header--btn-left.active, .b-level-course-list-table_header--btn-right.active {
    font-size: 14px;
    font-weight: 400;
    padding: 13px 5px;
    color: white;
    border: none;
    border-radius: 30px;
    background-color: #db3659;
    box-shadow: 0 11px 35px rgba(172, 50, 76, .44);
}
.b-level-course-list-table_header--btn-right span:before {
    position: relative;
    top: 3px;
    margin: 0 5px;
    content: url(../images/roadmap/choose-courses-black.png);
}
.b-level-course-list-table_header--btn-right.active span:before {
    position: relative;
    top: 3px;
    margin: 0 5px;
    content: url(../images/roadmap/choose-courses-white.png);
}
#level-form_course-list, #level-form_course-choice {
    width: 100%;
}
#level-form_course-list ul, #level-form_course-choice ul {
    list-style: none;
}
.course-list_items, .course-choice_items {
    padding-top: 15px;
    margin-bottom: 0px;
}
.course-list_items li:not(:last-child), .course-choice_items li:not(:last-child) {
    border-bottom: 1px solid rgba(195,195,195,.3);
}
.course-list-item_title {
    color: black;
    font-size: 15px;
    font-weight: 700;
}
.b-level-course-list-table-item-course_duration {
    font-size: 12px;
    font-weight: 300;
    padding-left: 10px;
    white-space: nowrap;
}
.course-list-item_price {
    text-align: right;
    padding: 0px;
}

.b-level-course_contacts-wrapper{
    padding: 0;
}


.course-list-item_more-link {
    text-align: right;
    padding-right: 25px;
    color: #0076fe;
    font-size: 14px;
    font-weight: 300;
}
.course-list-item_more-link:after {
    content: url(../images/roadmap/news-arrow.png);
    position: relative;
    right: -10px;
    top: 2px;
}
.course-list-total {
    margin-bottom: 0px;
}
.course-list-total li, .course-choice_total li {
    overflow: auto;
    padding: 15px 0px 5px;
    border-top: 1px solid rgba(195,195,195,.3);
    border-bottom: 1px solid rgba(195,195,195,.3);
}
.course-list-part_price{
    line-height: 37px;
    position: relative;
}

.course-list-total_title, .course-list-part_title, .course-list-total_price, .course-list-part_price, .choice-part-price {
    color: #fe335a;
    font-size: 15px;
    font-weight: 700;
    padding-top: 5px;
}
.course-list-total_title, .course-list-part_title {
    padding-left: 25px !important;
    padding-top: 5px;
}
.course-list-total_title:before {
    content: url(../images/roadmap/one-time-payment.png);
    position: relative;
    left: -5px;
}

.course-list-total_title,.course-list-part_title{
    line-height: 22px;
}

.course-list-total_price,.course-list-part_price{
    line-height: 34px;
}
.course-list-total_price, .course-list-part_price, .course-list-total_submit, .course-list-part_submit {
    text-align: right;
    padding: 0px;
}
.course-list-total_submit, .course-list-part_submit {
    padding-right: 10px;
    width: auto;
    float: right;
}
.order-courses-btn {
    position: relative;
    top: -5px;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    width: 130px;
    height: 40px;
    color: #FFF;
    -webkit-transition: .5s all ease;
    transition: .5s all ease;
    border: none;
    border-radius: 25px;
    background-color: #4ebf89;
}
button, a:focus {
    outline: none;
}
.course-help_pay {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(195,195,195,.3);
}

.b-level-course-discription__title + .grid{
    margin-bottom: 15px;
}

.course-help_pay h3 {
    margin: 0px 0px 10px 0px;
    color: black;
    font-size: 20px;
    font-weight: 700;
}
.course-help_pay p {
    margin: 0px;
    color: black;
    font-size: 14px;
    font-weight: 300;
}
.course-list-part {
    margin-bottom: 0px;
}
.course-list-part li {
    overflow: auto;
    padding: 15px 0px 5px;
}
.course-list-part_title:before {
    content: url(../images/roadmap/payment-parts.png);
    position: relative;
    left: -5px;
    top: 2px;
}
.choice-parts-number {
    color: #b7b7b7;
    font-weight: 300;
    position:absolute;
    right:-17px;
}
#choice_course_form .course-choice_items label{
    top: 4px;
    left: 14px;
}
.course-choice_items li {
    overflow: auto;
    overflow-y: hidden;
    padding: 15px 0px 10px 0px;
}
.course-list_items li {
    overflow: auto;
    padding: 15px 0px 10px 10px;
    line-height: 1.4;
    display: flex!important;
    align-items: center;
}
input[type=checkbox].css-checkbox {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
label.css-label {
    color: #6f6f6f !important;
    font-weight: bold;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
    float: left;
    width: 100%;
    background-position: 0 -15px;
    color: #000 !important;
}
input[type=checkbox].css-checkbox + label.css-label {
    font-size: 15px;
    line-height: 15px;
    display: inline-block;
    float: left;
    width: 100%;
    height: 15px;
    padding-left: 30px;
    cursor: pointer;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: 0 0;
}
label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
}

/*============= sales styles BEGIN ===============*/

.b-choose-courses-sales--round{
    width: 90px;
    height: 90px;
    background-color: white;
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
}

.b-choose-courses-sales-section{
    float: left;
    clear: both;
}

.b-choose-courses-sales{
    display: flex;
    align-items: center;
    height: 107px;
}

.b-choose-courses-sales--round p{

    color: #db3659;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    text-align: center;
}

.b-choose-courses-sales--text p{
    font-size: 15px;
    color: #db3659;
    font-weight: 700;
}

.b-choose-courses-sales--text p span{
    color: #9e9e9e;
    font-weight: 400;
}


.b-choose-courses-sales{
    padding-right: 0;
    padding-left: 0;  
}

.b-choose-courses-sales.select-course{
    padding-top: 127px;
}
/* .grid.b-whole-package-sales-grid{
    height: 520px!important;
} */


.b-level-course_skills{
    float: left;
    clear: none;
    padding: 15px;
    margin-top: 0;
}

.b-level-course_skills.after-skills{
    margin-top: 20px;
}
.b-level-course_skills.sales-fifteen{
    float: left;
}
.b-roadmap-select-course-books{
    margin-top: 150px;
}
.b-roadmap-select-course-books--inner{
    height: 154px;
    background-color: #fe335a;
    border-radius: 5px;
    width: 484px;
    float: right;
    position: relative;
    padding-left: 60px;
    padding-right: 30px;
    display: flex;
    align-items: center;
}
.b-roadmap-select-course-books--inner:before{
    content: url(../images/img/books.png);
    display: block;
    position: absolute;
    left: -104px;
    top: -9px;
}
.b-roadmap-select-course-books--inner p{
    color: white;
    font-size: 16px;
    font-weight: 400;
}
.b-roadmap-select-course-books--inner p span{
    font-weight: 700;
}


/*============= sales styles END ===============*/

.lite-cyan-check {
    background-image: url(../images/roadmap/cb-on.png);
}
.form-disabled {
    display: none;
    height: 155px;
    background-color: #4EBF89;
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding-top: 61px;
    font-size: 24px;
    color: #fff;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.b-level-course-skills_items {
    width: 100%;
    background: white;
    padding: 0px 10px;
    border-radius: 5px;
}
.b-level-course-skills_items p {
    font-size: 14px;
    font-weight: 700;
    padding: 10px 0 10px;
    color: black;
}
.b-level-course-skills_items > ul {
    padding-left: 15px;
}
.b-level-course-skills_items > ul > li {
    font-size: 14px;
    font-weight: 300;
    line-height: 30px;
    list-style: url(../images/roadmap/red-plus.png);
    color: black;
}
.icon-student {
    margin-right: 30px;
    margin-bottom: 35px;
}
.b-level-course_contacts {
    height: 110px;
    margin-top: 30px;
    padding: 15px 15px 15px 20px;
    border-radius: 5px;
    float: right;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}
.b-level-course_contacts_title {
    float: left;
    width: 75%;
    text-align: center;
    align-items:center;
    height: 100%;
    display: flex;
}
.icon-panda-contacts {
    background-image: url(../images/img/icon-panda-contacts.png);
    width: 135px;
    height: 66px;
    float: left;
    margin-right: 45px;
}
.b-level-course_contacts_title h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    color: #cf2f51;
}
.b-level-course_contacts_title h3 span {
    font-size: 15px;
    font-weight: 300;
    display: block;
    text-transform: none;
    color: black;
}
.b-level-course_contacts_phone {
    float: right;
    width: 25%;
    padding-top: 10px;
    text-align: center;
}
.b-level-course_contacts_phone p {
    font-size: 15px;
    font-weight: 700;
    line-height: 20px;
    margin: 0;
    padding: 0;
    color: black;
}
@media (min-width: 768px) {
    .col-sm-6 {
        width: 50%;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }
}
.course-list-item_price span:first-child{
    color: #999;
    text-decoration: line-through;
    display: block;
    padding-right: 15px;
}
.course-list-item_price span:last-child{
    color: #e11030;
}
.course-list-item_price b {
    padding: 2px 12px 3px;
    background-color: #ffc842;
    border-radius: 25px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
}

@media screen and (max-width: 1280px){
    .icon-panda-contacts{
        display: none;
    }
    .b-level-course_contacts_title{
        width: 60%;
        text-align: left;
    }
    .b-level-course_contacts_phone{
        text-align: right;
        width: 40%;
    }
    .b-roadmap-select-course-books--inner{
        width: 100%;
        height: auto;
        padding: 15px;
    }
    .b-roadmap-select-course-books--inner:before{
        display: none;
    }
}

@media screen and (max-width: 1272px){
    .form-disabled{
        height: 173px;
    }
}

@media screen and (max-width: 1150px){
    .order-courses-btn{
        width: 100px;
    }
}

@media screen and (max-width: 1058px){
    .b-level-course_contacts_title h3{
        font-size: 16px;
    }
    .b-level-course_skills{
        padding: 0;
    }
}
@media screen and (min-width: 991px){
    .b-level-course_contacts-wrapper{
        float: right;
        clear:right;
    }

}

@media screen and (max-width: 991px){

    .b-choose-courses-sales-section{
        margin-top: 15px;
    }
    .b-level-course_contacts_title{
        width: 50%;
        text-align: center;
    }
    .b-level-course_contacts_phone{
        text-align: center;
        width: 50%;
    }
    .b-level-course_contacts_title h3{
        width: 100%;
        font-size: 26px;
    }
    .b-level-course_contacts_title h3 span{
        font-size: 19px;
    }
    .b-level-course-discription__wrapper{
        margin-bottom: 20px;
    }
    .form-disabled{
        height: 154px;
    }
    .b-roadmap-select-course-books--inner:before{
        display: block;
        left: -68px;
    }
    .b-roadmap-select-course-books--inner{
        height: 154px;
        padding-left: 90px;
        width: 92%;
    }
    .b-level-course-discription{
        padding: 0;
    }
    .b-roadmap-select-course-books{
        padding: 0;
    }
    .b-choose-courses-sales-section.course-choice{
        padding: 0;
    }
    .b-choose-courses-sales.select-course{
        padding-top: 0;
    }
    .b-roadmap-select-course-books{
        margin-top: 40px;
    }
    .b-level-course-discription__title + .grid{
        min-height: 365px;
    }
}

@media screen and (max-width: 767px){
    .course-list-total_price .choice-total-price{
        line-height: 37px;
    }
    .level-form-course-wrapper{
        height: 435px;
    }
    .course-list-total_title, .course-list-part_title{
        line-height: 17px;
    }
    .b-level-course_contacts_title{
        text-align: left;
    }
    .b-level-course_contacts_phone{
        text-align: right;
    }
    .b-level-course_contacts_title h3{
        font-size: 20px;
    }
    .b-level-course_contacts_title h3 span{
        font-size: 15px;
    }

}
@media screen and (max-width: 636px){
    .form-disabled{
        height: 172px;
    }
}

@media screen and (max-width: 622px){
    .course-list-item_more-link:after{
        display: none;
    }
    .course-list_items li{
        padding: 5px 5px 10px 10px;
        overflow-x: hidden;    
    }
    .b-level-course_contacts_title{
        width: 70%;
    }
    .b-level-course_contacts_phone{
        width: 30%;
    }
    
}
@media screen and (max-width: 600px){
    .b-roadmap-select-course-books--inner:before{
        display: none;
    }
    .b-roadmap-select-course-books--inner{
        height: auto;
        padding: 15px;
        width: 100%;
    }
}


@media screen and (max-width: 539px){
    .course-list-total_price, .course-list-part_price{
        line-height: 30px;
    }
    .course-list-total_title, .course-list-part_title{
        width: 60%;
        text-align: center;
    }
    .course-list-total_price, .course-list-part_price{
        width: 40%;
        text-align: center;
    }
    .course-list-total_submit{
        width: 100%;
    }
    .order-courses-btn{
        text-align: center;
        display: block;
        margin: auto;
        top: 0;
    }
    .form-disabled{
        height: 214px;
    }
    .course-list-total_price .choice-total-price{
        line-height: 30px;
    }
    .form-disabled{
        padding-top: 73px;
    }
    .course-list-part_submit{
        width: 100%;
    }
    .choice-parts-number{
        position: relative;
        right: 0;
    }
     .b-level-course_contacts{
        height: 175px;
    }
    .b-level-course_contacts_title{
        width: 100%;
        text-align: center;
    }
    .b-level-course_contacts_phone{
        text-align: center;
        width: 100%;
    }
    .b-level-course_contacts_title{
        height: auto;
    }
    .order-courses-btn{
        float: right;
        margin-right: 4px;
        margin-top: 10px;
    }
    .b-level-course_skills{
        margin-top: 30px;
    }
    
}


@media screen and (max-width: 510px){
    .course-list-item_title{
        word-wrap: break-word;
    }
    .b-level-course_contacts{
        height: 180px;
    }
    .b-level-course_contacts_title{
        width: 100%;
        text-align: center;
        height: auto;
    }
    .b-level-course_contacts_phone{
        width: 100%;
        text-align: center;
    }
}

@media screen and (max-width: 495px){
    .course-list-item_price{
        width: 50%;
    }
    .course-list-item_more-link{
        width: 50%;
        float: right;
        display: inline-block;
    }
   

}
@media screen and (max-width: 480px){

    .b-whole-package-sales-section{
        padding:0px;
    }
    .course-list-item_more-link{
        padding-right: 5px;
    }
    .b-level-course-discription__title h3{
        font-size: 22px;
    }
    #choice_course_form .course-choice_items label{
        word-wrap: break-word;
    }
    .course-choice_items li{
        padding: 6px 0px 18px 0px;
    }
    .b-choose-courses-sales.select-course{
        padding-top: 0;
    }
    .b-roadmap-select-course-books{
        margin-top: 50px;
    }
}



@media screen and (max-width: 390px){
    .b-level-course-list-table_header--btn-right span:before{
        display: none;
    }
    .b-level-course-list-table_header--btn-right{
        padding: 13px 0;
    }
    .b-choose-courses-sales{
        margin-bottom: 20px;
    }
    .b-level-course-discription__text{
        padding-top: 10px;
    }
    .b-choose-courses-sales--text p{
        line-height: 17px;
    }
    
     .course-help_pay{
        height: 95px !important;
        overflow-y:scroll!important;
    }
}


@media screen and (max-width: 369px){
    .course-list-total_title::before{
        display: none;
    }
    .course-list-total_title, .course-list-part_title{
        padding-left: 15px;
    }
    .course-list-total_price, .course-list-part_price, .course-list-total_submit, .course-list-part_submit{
        margin-left: 10px;
        line-height: 30px;
    }
    .order-courses-btn{
        width: 40%;
        top: 0;
    }
    .course-list-total_submit, .course-list-part_submit{
        width: 100%;
        text-align: center;
        margin: auto;

    }
    .course-list-total_price, .course-list-part_price{
        width: 50%;
    }
    .course-list-total_price{
        padding-right: 15px;
        margin-left: 0;
    }
    .course-help_pay h3{
        font-size: 15px; 
    }
    .form-disabled{
        height: 203px;
        bottom: -5px;
        padding-top: 0;
        line-height: 195px;
    }
    .b-level-course-list-table_header--btn-right.active span:before{
        display: none;
    }
    .course-list-item_title{
        padding-left: 3px;
    }
    
    .course-list-total_price{
        width: 40%;
        float: right;
    }
    .course-list-part_title{
        width: 61%;
        text-align: left;
    }
    .course-list-part_price{
        width: 27%;
    }
    .form-disabled{
       bottom: -30px;
        height: 225px;
    }
    .b-level-course_contacts{
        height: 220px;
    }

}

@media screen and(max-width: 342px){

    input[type=checkbox].css-checkbox + label.css-label{
        padding-left: 16px;
    }
    #choice_course_form .course-choice_items label{
        left: 5px;
    }
    .level-form-course-wrapper{
        height: 634px;
    }
    .form-disabled{
        height: 227px;
        color:red;
    }
   
}

@media screen and(max-width: 337px){
    .form-disabled{
        height: 227px;
        color:red;
    }
}

@media screen and(max-width: 323px){
    .form-disabled{
        height: 186px;
    }
    .b-choose-courses-sales-section{
        margin-top: 55px !important;
    }
}

.additional-courses-discription__title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 500;
    margin-top: 40px;
    color: black;
    text-transform: uppercase;
}

.val_cours {
    height: auto !important;
}